bin/
obj/
publish/
.idea/
.vs/
src/Web/Logs/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.user
*.suo
*.cache
*.log
.vscode/
*.DS_Store
*.sqlite
wwwroot/
src/Web/wwwroot/
BuildHost-*
.env*
.codegraph
